annotated-types
appnope
asttokens
backcall
beautifulsoup4
blis
bs4
catalogue
certifi
chardet
charset-normalizer
click
comm
confection
contourpy
cycler
cymem
debugpy
decorator
executing
fonttools
gensim
html5lib
idna
ipykernel
ipython
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
langcodes
lxml
MarkupSafe
matplotlib
matplotlib-inline
missingno
murmurhash
nest-asyncio
nltk
packaging
pandas
parso
pathy
patsy
pexpect
pickleshare
Pillow
platformdirs
preshed
prompt-toolkit
psutil
ptyprocess
pure-eval
pydantic
pydantic_core
pydotplus
Pygments
pyparsing
python-dateutil
pytz
pyzmq
regex
requests
scikit-learn
scipy
seaborn
six
smart-open
soupsieve
SQLAlchemy
srsly
stack-data
statsmodels
threadpoolctl
tornado
tqdm
traitlets
typer
typing_extensions
tzdata
urllib3
wasabi
wcwidth
